.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @font-face {
  font-family: 'FontSM60';
  src: url('./fonts/font-sm-60.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('/src/hero.gif');
  background-color: #282c34;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;

}
.weiner{
  font-weight: 500;
  font-style: normal;

  
}
.about{
  width: 50rem;
}
.about2{
  width: 80%;
    max-width: 420px;
    height: 400px;
    z-index: 1;
    margin-left: auto;
    position: relative;
    background: linear-gradient(0deg, rgba(172, 142, 235, 0.4), rgba(172, 142, 235, 0.4)), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 14px 7px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: -10px;
}
.inner{
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  text-align: center;

}
.cb{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 0px; */
}

.main-content {
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  text-align: left;
}

.btn-primary {
  background-color: #A16EFF;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
}

.btn-secondary {
  background-color: #A16EFF;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
}
body {
  background-image: url('/src/hero.gif')
}

.btn{
  font-size: 15px;
    font-weight: 400;
    border-radius: 35px;
    letter-spacing: .5px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 45px;
}
